fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-multipart
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-dotenv
imagekitio
jinja2
aiofiles
alembic
httpx
urllib3
requests
requests-toolbelt
aiomysql
